In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [35]:
data=pd.read_csv('C:/Users/kongy/Documents/Python Scripts/Datasets/BlackFriday.csv')
data.head(5)
#In this project, the objectives are:
#1:Who are the customers with highest consuming ability,i.e.group of people with highest Purchase?
#2:What are the characteristics of these consumers?

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [36]:
data.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [37]:
data.shape

(537577, 12)

In [38]:
#Examine if any null values
data.isnull().any()

User_ID                       False
Product_ID                    False
Gender                        False
Age                           False
Occupation                    False
City_Category                 False
Stay_In_Current_City_Years    False
Marital_Status                False
Product_Category_1            False
Product_Category_2             True
Product_Category_3             True
Purchase                      False
dtype: bool

From above, we can see that there are null values in Product Category 2 and Product Category 3.But they will have little influence on further analysis, we don't fill in the null values and continue the analysis.

In [39]:
#We examine if any value in Purchase column in less than 0, which does not make sense
data['Purchase']=data.loc[:,'Purchase']>0

In [40]:
data.shape

(537577, 12)

In [41]:
#All purhcases are grouped by User_ID, and ordered by Purchase in descending order
consumers=data.groupby(data['User_ID'])
consumers=consumers.sum().sort_values('Purchase',ascending=False)
consumers.head(10)
#Now we get the top 10 consumers with highest consuming ability

,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,,,,,,
1001680,20500,1025,6292,6135.0,2612.0,1025.0
1004277,15648,0,6107,5786.0,2662.0,978.0
1001941,15266,0,5302,5542.0,2674.0,898.0
1001181,6027,861,4919,5525.0,2589.0,861.0
1000889,16440,0,5313,6144.0,2827.0,822.0
1003618,13022,766,4854,5115.0,2422.0,766.0
1001150,15040,0,4906,4418.0,1886.0,752.0
1001015,2217,739,4922,4869.0,2023.0,739.0
1002909,5019,0,4304,5080.0,2338.0,717.0
1001449,14280,714,3963,4236.0,2021.0,714.0

In [54]:
#We move on to the next question, what are the characteristics of these consumers?
row1=data[data['User_ID'].isin([1001680])]
row2=data[data['User_ID'].isin([1004277])]
row3=data[data['User_ID'].isin([1001941])]
row4=data[data['User_ID'].isin([1001181])]
row5=data[data['User_ID'].isin([1000889])]
row6=data[data['User_ID'].isin([1003618])]
row7=data[data['User_ID'].isin([1001150])]
row8=data[data['User_ID'].isin([1001015])]
row9=data[data['User_ID'].isin([1002909])]
row10=data[data['User_ID'].isin([1001449])]
new_table=row1.append([row2,row3,row4,row5,row6,row7,row8,row9,row10])
new_table=new_table.reset_index(drop=True)
new_table

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1001680,P00036742,M,26-35,20,A,3,1,1,16.0,NaN,True
1,1001680,P00130642,M,26-35,20,A,3,1,11,16.0,NaN,True
2,1001680,P00105442,M,26-35,20,A,3,1,11,NaN,NaN,True
3,1001680,P00245642,M,26-35,20,A,3,1,5,11.0,12.0,True
4,1001680,P00123342,M,26-35,20,A,3,1,11,NaN,NaN,True
5,1001680,P00280442,M,26-35,20,A,3,1,11,NaN,NaN,True
6,1001680,P00269242,M,26-35,20,A,3,1,11,13.0,NaN,True
7,1001680,P00180442,M,26-35,20,A,3,1,11,NaN,NaN,True
8,1001680,P00049942,M,26-35,20,A,3,1,11,15.0,NaN,True
9,1001680,P00359342,M,26-35,20,A,3,1,11,NaN,NaN,True
10,1001680,P00180742,M,26-35,20,A,3,1,11,NaN,NaN,True
11,1001680,P00217642,M,26-35,20,A,3,1,1,2.0,11.0,True
12,1001680,P00123942,M,26-35,20,A,3,1,1,11.0,NaN,True
13,1001680,P00122942,M,26-35,20,A,3,1,11,NaN,NaN,True
14,1001680,P00122742,M,26-35,20,A,3,1,11,NaN,NaN,True
15,1001680,P00333842,M,26-35,20,A,3,1,11,15.0,NaN,True
16,1001680,P00131442,M,26-35,20,A,3,1,6,8.0,14.0,True
17,1001680,P00052842,M,26-35,20,A,3,1,10,15.0,NaN,True
18,1001680,P00085242,M,26-35,20,A,3,1,8,14.0,17.0,True
19,1001680,P00240142,M,26-35,20,A,3,1,5,NaN,NaN,True
20,1001680,P00114042,M,26-35,20,A,3,1,5,14.0,NaN,True
21,1001680,P00114342,M,26-35,20,A,3,1,1,8.0,17.0,True
22,1001680,P00120942,M,26-35,20,A,3,1,8,NaN,NaN,True
23,1001680,P00131042,M,26-35,20,A,3,1,8,NaN,NaN,True
24,1001680,P00115542,M,26-35,20,A,3,1,8,NaN,NaN,True
25,1001680,P00109842,M,26-35,20,A,3,1,8,NaN,NaN,True
26,1001680,P00100442,M,26-35,20,A,3,1,2,4.0,5.0,True
27,1001680,P00058242,M,26-35,20,A,3,1,3,4.0,12.0,True
28,1001680,P00348742,M,26-35,20,A,3,1,16,NaN,NaN,True
29,1001680,P00271042,M,26-35,20,A,3,1,6,16.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8242,1001449,P00335142,M,36-45,20,A,1,1,5,NaN,NaN,True
8243,1001449,P00130742,M,36-45,20,A,1,1,1,14.0,17.0,True
8244,1001449,P00305142,M,36-45,20,A,1,1,1,NaN,NaN,True
8245,1001449,P00160942,M,36-45,20,A,1,1,1,16.0,NaN,True
8246,1001449,P00118542,M,36-45,20,A,1,1,5,8.0,NaN,True
8247,1001449,P00115642,M,36-45,20,A,1,1,8,14.0,NaN,True
8248,1001449,P00086442,M,36-45,20,A,1,1,8,13.0,15.0,True
8249,1001449,P00246342,M,36-45,20,A,1,1,11,15.0,NaN,True
8250,1001449,P00332542,M,36-45,20,A,1,1,8,NaN,NaN,True
8251,1001449,P00081142,M,36-45,20,A,1,1,6,8.0,14.0,True
8252,1001449,P00116642,M,36-45,20,A,1,1,5,NaN,NaN,True
8253,1001449,P00110042,M,36-45,20,A,1,1,5,14.0,NaN,True
8254,1001449,P00137242,M,36-45,20,A,1,1,5,NaN,NaN,True
8255,1001449,P00303842,M,36-45,20,A,1,1,5,8.0,14.0,True
8256,1001449,P00115142,M,36-45,20,A,1,1,1,8.0,17.0,True
8257,1001449,P00146742,M,36-45,20,A,1,1,1,13.0,14.0,True
8258,1001449,P00298942,M,36-45,20,A,1,1,1,5.0,NaN,True
8259,1001449,P00218442,M,36-45,20,A,1,1,1,NaN,NaN,True
8260,1001449,P00221742,M,36-45,20,A,1,1,1,8.0,NaN,True
8261,1001449,P00304542,M,36-45,20,A,1,1,1,5.0,NaN,True
8262,1001449,P00156442,M,36-45,20,A,1,1,8,NaN,NaN,True
8263,1001449,P00005742,M,36-45,20,A,1,1,8,14.0,NaN,True
8264,1001449,P00303642,M,36-45,20,A,1,1,8,14.0,NaN,True
8265,1001449,P00205142,M,36-45,20,A,1,1,8,NaN,NaN,True
8266,1001449,P00163842,M,36-45,20,A,1,1,8,NaN,NaN,True
8267,1001449,P00360042,M,36-45,20,A,1,1,8,NaN,NaN,True
8268,1001449,P00297342,M,36-45,20,A,1,1,5,NaN,NaN,True
8269,1001449,P00120142,M,36-45,20,A,1,1,5,NaN,NaN,True
8270,1001449,P0097342,M,36-45,20,A,1,1,1,15.0,16.0,True
8271,1001449,P00347642,M,36-45,20,A,1,1,1,6.0,NaN,True

In [56]:
consumerslist=new_table.drop_duplicates(subset=['User_ID'])
consumerslist=consumerslist.reset_index(drop=True)
consumerslist1=consumerslist.loc[:,['User_ID','Product_ID','Gender','Age','Occupation','City_Category','Marital_Status']]
consumerslist1

   User_ID Product_ID Gender    Age  Occupation City_Category  Marital_Status
0  1001680  P00036742      M  26-35          20             A               1
1  1004277  P00034742      M  36-45          16             A               0
2  1001941  P00262242      M  36-45          17             A               0
3  1001181  P00147942      M  36-45           7             A               1
4  1000889  P00115942      M  46-50          20             A               0
5  1003618  P00223642      M    55+          17             A               1
6  1001150  P00058042      F  26-35          20             A               0
7  1001015  P00118742      M  36-45           3             A               1
8  1002909  P00297742      M  26-35           7             A               0
9  1001449  P00010742      M  36-45          20             A               1

In [57]:
#We now try to find out the characteristics of these consumers
consumerslist1.apply(pd.value_counts)

C:\Users\kongy\ProgramFiles\Anaconda\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  result = result.union(other)
C:\Users\kongy\ProgramFiles\Anaconda\lib\site-packages\pandas\core\frame.py:7356: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  index = _union_indexes(indexes)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Marital_Status
1001150,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1001181,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1001449,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1000889,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1001941,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1001015,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1004277,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1002909,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1003618,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1001680,1.0,NaN,NaN,NaN,NaN,NaN,NaN
P00297742,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00262242,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00223642,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00147942,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00034742,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00115942,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00058042,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00118742,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00036742,NaN,1.0,NaN,NaN,NaN,NaN,NaN
P00010742,NaN,1.0,NaN,NaN,NaN,NaN,NaN
M,NaN,NaN,9.0,NaN,NaN,NaN,NaN
F,NaN,NaN,1.0,NaN,NaN,NaN,NaN
36-45,NaN,NaN,NaN,5.0,NaN,NaN,NaN
26-35,NaN,NaN,NaN,3.0,NaN,NaN,NaN
46-50,NaN,NaN,NaN,1.0,NaN,NaN,NaN
55+,NaN,NaN,NaN,1.0,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,4.0,NaN,NaN
7,NaN,NaN,NaN,NaN,2.0,NaN,NaN
17,NaN,NaN,NaN,NaN,2.0,NaN,NaN
3,NaN,NaN,NaN,NaN,1.0,NaN,NaN
16,NaN,NaN,NaN,NaN,1.0,NaN,NaN
A,NaN,NaN,NaN,NaN,NaN,10.0,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,5.0
0,NaN,NaN,NaN,NaN,NaN,NaN,5.0

According to the table above, we could conclude that the main characteristics of these consumers are:
a:they are mainly male
b:most of them are between 26-45 years old
c:they live in cities with category A